<!--MAIN-->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">
        Preguntas
      </h1>
      <p class="description">Listado de preguntas creadas</p>
    </div>
    <% if(currentPrivileges.includes(privileges.questions.canPostQuestions)) { %>
    <div class="banner__section">
      <a class="button button--primary" href="preguntas/nueva">Añadir Pregunta</a>
    </div>
    <% } %>
    <span class="line"></span>
  </div>

  <!-- QUESTIONS -->
  <div class="filters-container">
    <div class="input search-bar">
      <span class="icon search-bar__icon"></span>
      <input type="text" placeholder="Buscar" />
    </div>
    <div class="select-container">
      <select class="select" id="select-question-type">
        <option value="">TODAS</option>
        <option value="OP. MULTIPLE">Pregunta Opción Múltiple</option>
        <option value="ABIERTA">Pregunta Abierta</option>
        <option value="SI/NO">Pregunta Si/No</option>
        <option value="ESCALAR">Pregunta Escalar</option>
      </select>
    </div>
  </div>
  <% if(questions && questions.length> 0) { %>
  <div class="cards-container">
    <% for(let question of questions) { %>
    <div class="card card--question">
      <div class="card__header">
        <p class="card__subtitle"><%= question.description %></p>
        <span class="label label--active">
          <%= question.type === 'SELECTION' ? 'OP. MULTIPLE' : 
              question.type === 'OPEN' ? 'ABIERTA' :
              question.type === 'BOOLEAN' ? 'Si / No' : 
              question.type === 'SCALE' ? '1-5' : '' %>
        </span>
      </div>
      <% if(question.type === 'SELECTION') { %>
      <span class="input__label description--blue mt-1">Opciones</span>
      <p class="card__description"><%= question.options.join(" , ") %> </p>
      <% } %>
      <% if(currentPrivileges.includes(privileges.questions.canDeleteQuestions)) { %>
      <form action="/preguntas?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="<%=question.id %>">
        <button type="submit" class="button button--sm button--delete-alt remove-question-btn mt-3" data-id=<%=question.id %>>Eliminar</button>
      </form>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } else { %>
  <div class="cards-container">
    <div class="card">
      <p class="card__subtitle">No hay preguntas</p>
    </div>
  </div>
  <% } %>
</section>
<script defer src="/assets/js/questions.js"></script>