<!--MAIN-->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">
        Roles <span class="meta">(<%= roles.length %>)</span>
      </h1>
      <p class="description">Listado de roles creados</p>
    </div>
    <% if(currentPrivileges.includes(privileges.roles.canCreateRoles)) { %>
    <div class="banner__section">
      <a class="button button--primary" href="roles/nuevo">Añadir Rol</a>
    </div>
    <% } %>
    <span class="line"></span>
  </div>

  <!-- Opción 1 --> <!--! Falta el if  -->
  <div class="card-table">
    <table class="table">
      <thead>
        <tr>
          <th>Privilegios</th>
          <% for (let role of roles) { %>
            <th><%= role.name %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% const privilegesByTag = {}; %>
        <% for (let privilege of allPrivileges) { %>
          <% if (!privilegesByTag[privilege.tag]) { privilegesByTag[privilege.tag] = []; } %>
          <% privilegesByTag[privilege.tag].push(privilege); %>
        <% } %>
        <% let index = 1; %>
        <% for (let tag in privilegesByTag) { %>
          <tr class="tr-header">
            <td><%= tag %></td>
            <% for (let role of roles) { %>
              <td></td>
            <% } %>
          </tr>
          <% for (let privilege of privilegesByTag[tag]) { %>
            <tr>
              <td><span><%= index %>.</span> <%= privilege.description %> (<%= privilege.tag %>)</td>
              <% for (let role of roles) { %>
                <% let hasPrivilege = false; %>
                <% for (let rolesP of rolesPrivileges) { %>
                  <% if (rolesP.id_privilege == privilege.id && rolesP.id_role == role.id) { %>
                    <% hasPrivilege = true; %>
                  <% } %>
                <% } %>
                <td>
                  <% if (hasPrivilege) { %>
                    <div>
                      <img src="/assets/icon/checkbox-check.svg" alt="checkbox">
                    </div>
                  <% } else { %>
                    <div>
                      <img src="/assets/icon/checkbox-unchecked.svg" alt="checkbox">
                    </div>
                  <% } %>
                </td>
              <% } %>
              <% index++; %>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>

  <!-- Opción 2 -->
  <div class="card-table">
    <table class="table">
      <thead>
        <tr>
          <th>Privilegios</th>
          <% for (let role of roles) { %>
            <th><%= role.name %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% const privilegesByTag = {}; %>
        <% for (let privilege of allPrivileges) { %>
          <% if (!privilegesByTag[privilege.tag]) { privilegesByTag[privilege.tag] = []; } %>
          <% privilegesByTag[privilege.tag].push(privilege); %>
        <% } %>
        <% let index = 1; %>
        <% for (let tag in privilegesByTag) { %>
          <tr class="tr-header">
            <td><%= tag %></td>
            <% for (let role of roles) { %>
              <td></td>
            <% } %>
          </tr>
          <% for (let privilege of privilegesByTag[tag]) { %>
            <tr>
              <td><span><%= index %>.</span> <%= privilege.description %> (<%= privilege.tag %>)</td>
              <% for (let role of roles) { %>
                <% let hasPrivilege = false; %>
                <% for (let rolesP of rolesPrivileges) { %>
                  <% if (rolesP.id_privilege == privilege.id && rolesP.id_role == role.id) { %>
                    <% hasPrivilege = true; %>
                  <% } %>
                <% } %>
                <td>
                  <input type="checkbox" name="rolePrivileges[<%= role.id %>][<%= privilege.id %>]" value="1" <% if (hasPrivilege) { %>checked<% } %>>
                </td>
              <% } %>
              <% index++; %>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
  
</section>


<script defer src="/assets/js/roles.js"></script>