<!--MAIN-->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">
        Roles <span class="meta">(<%= roles.length %>)</span>
      </h1>
      <p class="description">Listado de roles creados</p>
    </div>
    <div class="banner__section">
      <a class="button button--primary" href="roles/nuevo">Añadir Rol</a>
    </div>
    <span class="line"></span>
  </div>

  <!-- ROLES -->
  <div class="filters-container">
    <div class="input search-bar">
      <span class="icon search-bar__icon"></span>
      <input type="text" placeholder="Buscar" />
    </div>
  </div>
  <% if(roles && roles.length> 0) { %>
  <div class="cards-container">
    <% for(let role of roles) { %>
    <div class="card card--question">
      <div class="card__header">
        <p class="card__subtitle"><%= role.name %></p>
      </div>
      <span class="line"></span>
      <ol>
      <% for(let privilege of privileges) { %>
        <% for(let role_privilege of role_privileges){
          if(role_privilege.id_privilege == privilege.id && role_privilege.id_role == role.id) { %>
            <li class="card__description"><%= privilege.name %></li>
          <% } %>
        <% } %>
      <% } %>
      </ol>
      <form action="/roles?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="<%=role.id %>">
        <button type="submit" class="button button--sm button--delete-alt remove-role-btn" data-id=<%=role.id %>>Eliminar</button>
      </form>
    </div>
    <% } %>
  </div>
  <% } else { %>
  <div class="cards-container">
    <div class="card">
      <p class="card__subtitle">No hay roles</p>
    </div>
  </div>
  <% } %>
</section>


<script defer src="/assets/js/roles.js"></script>