<!--MAIN-->
<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">
        Roles <span class="meta">(<%= roles.length %>)</span>
      </h1>
      <p class="description">Listado de roles creados y sus privilegios</p>
    </div>
    <% if(currentPrivileges.includes(privileges.roles.canCreateRoles)) { %>
    <div class="banner__section">
      <a class="button button--primary" href="roles/nuevo">Añadir Rol</a>
      <% if (roles.length > 0) { %>
      <a class="button button--primary" href="<%=`roles/${roles[0].id}/modificar`%>">Modificar Rol</a>
      <% } %>
    </div>
    <% } %>
    <span class="line"></span>
  </div>

  <!--ROLES-->
  <% if (roles.length > 0) { %>
    <div class="card-table">
      <table class="table-roles">
        <thead>
          <tr>
            <th>Privilegios</th>
            <% for (let role of roles) { %>
              <th><%= role.name %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% const privilegesByTag = {}; %>
          <% for (let privilege of allPrivileges) { %>
            <% if (!privilegesByTag[privilege.tag]) { privilegesByTag[privilege.tag] = []; } %>
            <% privilegesByTag[privilege.tag].push(privilege); %>
          <% } %>
          <% for (let tag in privilegesByTag) { %>
            <tr class="tr-header">
              <td><%= tag %></td>
              <% for (let role of roles) { %>
                <td></td>
              <% } %>
            </tr>
            <% for (let privilege of privilegesByTag[tag]) { %>
              <tr>
                <td> <%= privilege.description %></td>
                <% for (let role of roles) { %>
                  <% let hasPrivilege = false; %>
                  <% for (let rolesP of rolesPrivileges) { %>
                    <% if (rolesP.id_privilege == privilege.id && rolesP.id_role == role.id) { %>
                      <% hasPrivilege = true; %>
                    <% } %>
                  <% } %>
                  <td>
                    <% if (hasPrivilege) { %>
                      <div>
                        <img src="/assets/icon/check_circle.svg" alt="checkbox">
                      </div>
                    <% } else { %>
                      <div>
                        <p>-</p>
                      </div>
                    <% } %>
                  </td>
                <% } %>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>  
  <% } else { %>
    <div class="card">
      <p class="description">No hay roles creados</p>
    </div>
  <% } %>
</section>