<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title"><%= sprint.name %></h1>
    </div>
  </div>

  <div class="horizontal-container">
    <% if (currentPrivileges.includes(privileges.retrospectives.getRetrospectives) && answerableRetrospectives.length > 0) { %>
    <div class="card">
      <p class="subtitle">Retrospectivas activas</p>
      <table class="table">
        <% for (let retro of answerableRetrospectives) { %>
        <% if(currentPrivileges.includes(privileges.retrospectives.getMetrics)) {%>
        <tr onclick="window.location ='<%= routes.retrospectives %>/<%= retro.id %>'" class="retrospective">
          <% } else { %>
        <tr class="retrospective no-pointer">
          <% } %>
          <td><%= retro.name %></td>
        </tr>
        <% } %>
      </table>
    </div>
    <% } %>

    <% if (currentPrivileges.includes(privileges.actionables.getActionables) && ownActionables.length > 0) { %>
    <div class="card">
      <p class="subtitle">Accionables Pendientes</p>
      <table class="table">
        <% for (let actionable of ownActionables) { %>
        <tr onclick="window.location ='<%= `${routes.actionables}/process` %>'" class="retrospective">
          <td><%= actionable.title %></td>
        </tr>
        <% } %>
      </table>
    </div>
    <% } %>
  </div>

  <span class="line"></span>


  <h3 class="subtitle">Filtros</h3>
  <div class="filters-container">
    <div class="select-container">
      <select class="select" id="label-options">
        <option value="All">Todos los Labels</option>
        <option value="None">Sin Label</option>
      </select>
    </div>

    <% if (team) { %>
    <div class="select-container">
      <select class="select" id="issues-options">
        <option value="All">Todos los Issues</option>
        <option value="Team" selected>Issues <%= team.name %></option>
        <option value="Personal">Issues personales</option>
      </select>
    </div>
    <% } %>
  </div>

  <!-- CHARTS -->
  <div class="chart-container">
    <canvas id="general-chart"></canvas>
  </div>

  <span class="line"></span>
  <h2 class="subtitle">Otras métricas</h2>
  <div class="filters-container">
    <div class="checkbox-container">
      <input type="checkbox" class="question-checkbox mr-1" id="show-empty" />
      <label for="show-empty">Mostrar atributos vacíos</label>
    </div>
  </div>
  <div class="charts-container charts-container--no-col">
    <div class="chart-container">
      <canvas id="epics-chart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="types-chart"></canvas>
    </div>
  </div>
</section>

<script type="module" src="/assets/js/dashboard.js"></script>