<header class="header">
  <nav class="nav">
    <div class="nav__logo-container">
      <button class="nav__toggler" id="sidebar-toggler">
        <img src="./assets/icon/navbar-toggler.svg" alt="" class="icon" />
      </button>
      <a href="#" class="nav__logo">
        <img src="./assets/img/logo.svg" alt="" />
      </a>
    </div>
    <ul class="nav__list">
      <% if(teams.length> 0) { %>
        <li class="nav__item">
          <div class="select-container">
            <select class="select" id="team-options">
              <% for(let i=0; i < teams.length; i++) { %>
                <option 
                  value="<%= teams[i].id %>" 
                  data-name="<%= teams[i].name %>"
                  <% if(teams[i].id == selectedTeam.id) { %> selected <% } %>  >
                  <%= teams[i].name %>
                </option>
                <% } %>
            </select>
          </div>
        </li>
        <% } %>
          <li class="nav__item">
            <div class="user">
              <div class="user__avatar">
                <%= user[0] %>
              </div>
              <div class="user__name">
                <%= user %>
              </div>
            </div>
          </li>
    </ul>
  </nav>
</header>