<header class="header">
  <nav class="nav">
    <div class="nav__logo-container">
      <button class="nav__toggler" id="sidebar-toggler">
        <img src="/assets/icon/navbar-toggler.svg" alt="" class="icon" />
      </button>
      <a href="#" class="nav__logo">
        <img src="/assets/img/logo.svg" alt="" />
      </a>
    </div>
    <ul class="nav__list">
      <% if(activeTeams.length> 0) { %>
      <li class="nav__item">
        <div class="select-container">
          <select class="select" id="team-options">
            <% for(let i=0; i < activeTeams.length; i++) { %>
            <option value="<%= activeTeams[i].id %>" data-name="<%= activeTeams[i].name %>" <%
                  if(activeTeams[i].id==selectedTeam.id) { %> selected <% } %>>
              <%= activeTeams[i].name %>
            </option>
            <% } %>
          </select>
        </div>
      </li>
      <% } %>
      <li class="nav__item">
        <div class="user" id="current-user" data-uid="<%= currentUser.uid %>">
          <div class="user__avatar">
            <%= currentUser.first_name[0] %>
          </div>
          <div class="user__name">
            <%= currentUser.first_name %>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>