<aside class="sidebar" id="sidebar">
  <ul class="sidebar__nav">
    <li class="sidebar__nav-item">
      <a href=<%=routes.home %> class="sidebar__link">
        <img src="/assets/icon/dashboard.svg" alt="Dashboard icon" class="sidebar__icon" />
        <span> Utils </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href=<%=routes.dashboard %> class="sidebar__link">
        <img src="/assets/icon/dashboard.svg" alt="Dashboard icon" class="sidebar__icon" />
        <span> Dashboard </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href="<%=routes.retrospectives %>" class="sidebar__link">
        <img src="/assets/icon/retrospectivas.svg" alt="Retrospectives icon" class="sidebar__icon" />
        <span> Retrospectivas </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__link">
        <img src="/assets/icon/accionables.svg" alt="To do icon" class="sidebar__icon" />
        <span> Accionables </span></a>
    </li>
    <!-- SUBSECTION -->
    <li class="sidebar__nav-header">Admin</li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__link">
        <img src="/assets/icon/preguntas.svg" alt="Chat icon" class="sidebar__icon" />
        <span> Preguntas </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href=<%=routes.teams %> class="sidebar__link">
        <img src="/assets/icon/equipos.svg" alt="Team icon" class="sidebar__icon" />
        <span> Equipos </span></a>
    </li>
    <!-- SUBSECTION -->
    <li class="sidebar__nav-header">Módulos</li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__link">
        <img src="/assets/icon/ajustes.svg" alt="Settings icon" class="sidebar__icon" />
        <span> Ajustes </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__link">
        <img src="/assets/icon/configuracion.svg" alt="Config icon" class="sidebar__icon" />
        <span> Configuración </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href=<%=routes.login %> class="sidebar__link">
        <img src="/assets/icon/cerrar-sesion.svg" alt="Lock icon" class="sidebar__icon" />
        <span> Cerrar Sesión </span>
      </a>
    </li>
  </ul>
</aside>