<aside class="sidebar" id="sidebar">
  <ul class="sidebar__nav">
    <li class="sidebar__nav-item">
      <a href=<%=routes.home %> class="sidebar__link">
        <img src="/assets/icon/dashboard.svg" alt="Dashboard icon" class="sidebar__icon" />
        <span> Dashboard </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href="<%=routes.retrospectives %>" class="sidebar__link">
        <img src="/assets/icon/retrospectivas.svg" alt="Retrospectives icon" class="sidebar__icon" />
        <span> Retrospectivas </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href=<%=routes.actionables %> class="sidebar__link">
        <img src="/assets/icon/accionables.svg" alt="To do icon" class="sidebar__icon" />
        <span> Accionables </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href="/preguntas" class="sidebar__link">
        <img src="/assets/icon/preguntas.svg" alt="Chat icon" class="sidebar__icon" />
        <span> Preguntas </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href=<%=routes.teams %> class="sidebar__link">
        <img src="/assets/icon/equipos.svg" alt="Team icon" class="sidebar__icon" />
        <span> Equipos </span></a>
    </li>
    <!-- SUBSECTION -->
    <li class="sidebar__nav-header">Configuración</li>
    <li class="sidebar__nav-item">
      <a href=<%=routes.users %> class="sidebar__link">
        <img src="/assets/icon/user.svg" alt="Users icon" class="sidebar__icon" />
        <span> Usuarios </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href=<%=routes.roles %> class="sidebar__link">
        <img src="/assets/icon/layers.svg" alt="Roles icon" class="sidebar__icon" />
        <span> Roles </span></a>
    </li>
    <li class="sidebar__nav-item">
      <a href="<%=routes.users %>/<%=currentUser.uid %>/modificar" class="sidebar__link">
        <img src="/assets/icon/ajustes.svg" alt="Roles icon" class="sidebar__icon" />
        <span> Ajustes </span></a>
    </li>
    <li class="sidebar__nav-item">
      <form action="<%= routes.logout %>" method="GET" id="logout-form">
        <button type="submit" class="sidebar__link">
          <img src="/assets/icon/cerrar-sesion.svg" alt="Lock icon" class="sidebar__icon" />
          <span> Cerrar Sesión </span>
        </button>
      </form>
    </li>
  </ul>
</aside>