<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Accionables</h1>
      <p class="description">Visualiza tus accionables</p>
    </div>
    <div class="banner__section">
      <% if(currentPrivileges.includes(privileges.actionables.canCreateActionables)) { %>
      <a class="button button--primary" href="/accionables/nuevo">
        Añadir Accionable
      </a>
      <% } %>
    </div>
    <span class="line"></span>
  </div>
  <div class="banner align-flex-end mb-3">
    <% if (state==="process" ) { %>
    <h2 class="subtitle mb-2"> Accionables en Proceso <span class="meta"></span></h2>
    <% } %>
    <% if (state==="pending" ) { %>
    <h2 class="subtitle mb-2"> Accionables Por Aprobar <span class="meta"></span></h2>
    <% } %>
    <% if (state==="completed" ) { %>
    <h2 class="subtitle mb-2"> Accionables Completados <span class="meta"></span></h2>
    <% } %>
    <div class="toggle-buttons-container toggle-buttons-container--primary">
      <a class="toggle-button <%= (state === "pending") && "toggle-button--active" %>" href="/accionables/pending">Por
        Aprobar</a>
      <a class="toggle-button <%= (state === "process") && "toggle-button--active" %>" href="/accionables/process">Aprobados</a>
      <a class="toggle-button <%= (state === "completed") && "toggle-button--active" %>" href="/accionables/completed">Completados</a>
    </div>
  </div>
  <% if (actionables.length==0) { %>
  <div class="centcontainer">
    <div class="vertical-center">
      <h2 class="card__title">No hay accionables para mostrar</h2>
    </div>
  </div>
  <% } %>

  <% if (actionables.length>0) { %>
  <div class="cards-container">
    <% for(let i=0; i< actionables.length; i++) {%>
    <div class="card card--actionable">
      <div class="card__header">
        <h3 class="card__title mr-2">
          <%= actionables[i].title %>
        </h3>
        <% if (state==="process") { %>
        <div class="pills-container">
          <% if(actionables[i].pillcolor==="green"){ %>
          <span class="pill pill--ontime"></span>
          <% } %>
          <% if(actionables[i].pillcolor==="yellow"){ %>
          <span class="pill pill--late"></span>
          <% } %>
          <% if(actionables[i].pillcolor==="red"){ %>
          <span class="pill pill--alert"></span>
          <% } %>
        </div>
        <% } %>
      </div>


      <span class="line"></span>
      <p class="act__description">
        <%= actionables[i].description %>
      </p>
      <% if (state==="process") { %>
      <p class="act__description">
        <b>Estado:</b> <%= actionables[i].jira_state %>
      </p>
      <% } %>

      <!--PRIORIDADES-->

      <p class="card__subtitle">
        Prioridad
      </p>

      <div class="horizontal-container">
        <div class="pills-container">
          <% if (actionables[i].priority==="Highest"){ %>
          <span class="pill pill--small-vhigh"></span>
          <% } %>
          <% if (actionables[i].priority==="High"){ %>
          <span class="pill pill--small-high"></span>
          <% } %>
          <% if (actionables[i].priority==="Medium"){ %>
          <span class="pill pill--small-medium"></span>
          <% } %>
          <% if (actionables[i].priority==="Low"){ %>
          <span class="pill pill--small-low"></span>
          <% } %>
          <% if (actionables[i].priority==="Lowest"){ %>
          <span class="pill pill--small-vlow"></span>
          <% } %>
        </div>
        <p class="act__description">
          <%= actionables[i].priority %>
        </p>
      </div>

      <!--RESPONSABLE-->
      <div>
        <% if (arrUsers[i]){ %> <p class="card__subtitle">
          Responsable
        </p>
        <div class="user__item">
          <span class="user__avatar">
            <%= arrUsers[i].first_name[0] %>
          </span>
          <span class="user__name">
            <%= arrUsers[i].first_name + " " + arrUsers[i].last_name %>
          </span>
        </div>
        <% } %>
      </div>
      <!--FECHA HACE CUANTO SE CREO-->
      <% if (state==="process") { %>
      <p class="card__description__footer">
        <%= moment(actionables[i].creation_date).fromNow(); %>
      </p>
      <% } %>
      <!--BOTONES-->
      <% if(state==="pending" ) { %>
      <div class="buttons-container card__footer <%= arrUsers[i]? "mt-2":"" %>">
        <% if(currentPrivileges.includes(privileges.actionables.canAcceptActionables)) { %>
        <form action="<%= actionables[i].id %>/accept" method="POST">
          <button class="button button--primary" type="submit">Aprobar</button>
        </form>
        <% } %>
        <% if(currentPrivileges.includes(privileges.actionables.canRejectActionables)) { %>
        <form action="<%= actionables[i].id %>/reject" method="POST">
          <button class="button button--discard" type="submit">Rechazar</button>
        </form>
        <% } %>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>

</section>