<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Accionables <span class="meta">(<%= actionables.length %>)</span></h1>
      <p class="description">Visualiza tus accionables</p>
    </div>
    <div class="banner__section">
      <div class="toggle-buttons-container toggle-buttons-container--primary">
        <button class="toggle-button <%= (state === "accepted") && "toggle-button--active"%>" onclick="window.location.href='/accionables/accepted'">Aprobado</button>
        <button class="toggle-button <%= (state === "pending") && "toggle-button--active"%>" onclick="window.location.href='/accionables/pending'">Por Aprobar</button>
        <button class="toggle-button <%= (state === "rejected") && "toggle-button--active"%>" onclick="window.location.href='/accionables/rejected'">Rechazado </button>
      </div>
    </div>
  </div>
  <span class="line"></span>
  <% if (state === "accepted") { %>
  <h2 class="subtitle"> Accionables Aprobados <span class="meta">
      <% } %>
      <% if (state === "pending") { %>
      <h2 class="subtitle"> Accionables Por Aprobar <span class="meta">
          <% } %>
          <% if (state === "rejected") { %>
          <h2 class="subtitle"> Accionables Rechazados <span class="meta">
              <% } %>
              <% if (actionables.length == 0) { %>
              <div class="centcontainer">
                <div class="vertical-center">
                  <h2 class="card__title">No hay accionables para mostrar</h3>
                </div>
              </div>
              <% }  %>
              <div class="cards-container">
                <% for(let i = 0; i< actionables.length; i++) {%>
                <div class="card ">
                  <h3 class="card__title"> <%= actionables[i].title %> </h3>
                  <span class="line"></span>
                  <div class="pills-container" style="display: flex; flex-wrap: wrap">
                    <span class="pill pill--ontime"></span><%= moment( arrretros[i].start_date).fromNow(); %>
                  </div>
                  <p class="description">
                    <%= actionables[i].description %>
                  </p>
                  <div class="users__resp">
                    <p class="card__subtitle">
                      Responsable
                    </p>
                    <div class="user__item">
                      <span class="user__avatar">
                        <%= arrUsers[i].first_name[0] %>
                      </span>
                      <span class="user__name">
                        <%= arrUsers[i].first_name + " " + arrUsers[i].last_name %>
                      </span>
                    </div>
                    <ul class="items_list">
                      <div class="pills-container" style="display: flex; flex-wrap: wrap">
                        <li class="items__item">
                          <div class="pills-container" style="display: flex; flex-wrap: wrap">
                            <span class="pill pill--small"></span>
                          </div>
                          <p> <%= moment(arrretros[i].end_date).format('LL') %> </p>
                        <li class="items__item">
                          <div class="pills-container" style="display: flex; align-items: center; justify-content: center;">
                            <span class="pill pill--small"></span>
                          </div>
                          <p> <%=arrretros[i].name %> </p>
                      </div>
                      <% if(state === "pending") { %>
                      <div class="horizontal_list">
                        <div class="horizontal__item">

                          <form action="<%= actionables[i].id %>/accept" method="POST">
                            <button class="button button--primary button--small" type="submit">Aprobar</button>
                          </form>
                        </div>
                        <div class="horizontal__item">
                          <form action="<%= actionables[i].id %>/reject" method="POST">
                            <button class="button button--discard button--small" type="submit">Rechazar</button>
                          </form>
                        </div>
                      </div>
                      <% } %>
                  </div>
                </div>
                <% } %>

              </div>
              </div>





</section>