<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">
        <%= user.first_name %> 
        <%= user.last_name %>
        <% if(user.uid === currentUser.uid) { %>
        <span class="meta">(Tú)</span>
        <% } else { %>  
        <span class="meta">(Editar)</span>
        <% } %>
      </h1>
      <p class="description">Modificar rol del usuario</p>
    </div>
    <span class="line"></span>
  </div>
  <form id="change_role" action="/usuarios/<%= user.uid %>/modificar" method="POST">
    <p class="description-question">Selecciona los roles para el usuario</p>
    <% for (let i=0; i<allroles.length; i++){ %>
    <div class="checkbox-container mb-1">
      <input type="checkbox" class="question-checkbox mr-1" id="accum" name="<%=allroles[i].id%>" <%=roles.map(role=>role.id).includes(allroles[i].id)?"checked":""%> />
      <label for="accum"> <%= allroles[i].name %></label>
    </div>
    <% } %>
      <button class="button button--primary mt-5" type="submit">Guardar</button>
  </form>

</section>