<!-- MAIN -->
<section class="dashboard">

  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Equipos <span class="meta"> (<%=userTeams.length + availableTeams.length %>)</span></h1>
      <p class="description">
        Visualiza tu equipo o selecciona uno al cual unirte
      </p>
    </div>
    <% if(currentPrivileges.includes(privileges.teams.canCreateTeams)) { %>
    <a class="button button--primary" class="dropdown-item" id="modal-button">
      Crear Equipo
    </a>
    <div id="modal-container" class="modal-container"></div>
    <% } %>
    <span class="line"></span>
  </div>


  <!-- USER TEAMS -->
  <h2 class="subtitle">Mis Equipos <span class="meta">
      (<%=userTeams.length %>)
    </span>
  </h2>
  <% if(userTeams && userTeams.length> 0) { %>

  <!-- TABLE -->
  <div class="banner--nomargin">
    <div class="table-container">
      <table class="table" id="retrospectivasSearch">
        <thead>
          <tr class="subtitle">
            <td>Nombre</td>
            <td>Miembros</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < userTeams.length; i++) { %>
          <tr onclick="window.location ='<%= routes.teams %>/<%= userTeams[i].id %>/modificar'" id="retrospectives-list" class="retrospective">
            <td class="table__title">
              <%= userTeams[i].name %>
            </td>
            <td>
              <div class="users__list">
                <% for(let j=0; j < userTeams[i].members.length; j++) { %>
                <div class="user__item">
                  <span class="user__avatar">
                    <%= userTeams[i].members[j].first_name[0] %>
                  </span>
                  <span class="user__name">
                    <%= userTeams[i].members[j].first_name%>
                    <%= userTeams[i].members[j].last_name%>
                  </span>
                </div>
                <% } %>
              </div>
            </td>
            <td class="table__team" data-idTeam="<%= userTeams[i].id_team %>" style="
                display: flex;
                justify-content: flex-end;
                ">
              <form action="/equipos/eliminar/usuario?_method=PATCH" method="POST">
                <input type="hidden" name="id_team" value="<%=userTeams[i].id %>">
                <input type="hidden" name="uid" value="<%=locals.currentUser.uid %>">

                <button type="submit" class="button button--sm button--delete-alt remove-team-user-btn" data-uid=<%=locals.currentUser.uid %> data-id_team=<%=userTeams[i].id %>>Abandonar</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="cards-container">
    <% for(let i=0; i < userTeams.length; i++) { %>
    <div class="card card--team">
      <div class="card__header">
        <h3 class="card__title">
          <%= userTeams[i].name %>
        </h3>

        <form action="/equipos/eliminar/usuario?_method=PATCH" method="POST">
          <input type="hidden" name="id_team" value="<%=userTeams[i].id %>">
          <input type="hidden" name="uid" value="<%=locals.currentUser.uid %>">

          <button type="submit" class="button button--sm button--delete-alt remove-team-user-btn" data-uid=<%=locals.currentUser.uid %> data-id_team=<%=userTeams[i].id %>>Abandonar</button>
        </form>
      </div>
      <p class="card__subtitle">
        Miembros <span class="meta"> (<%=userTeams[i].members.length %>) </span>
      </p>
      <div class="users__list">
        <% for(let j=0; j < userTeams[i].members.length; j++) { %>
        <div class="user__item">
          <span class="user__avatar">
            <%= userTeams[i].members[j].first_name[0] %>
          </span>
          <span class="user__name">
            <%= userTeams[i].members[j].first_name%>
            <%= userTeams[i].members[j].last_name%>
          </span>
        </div>
        <% } %>
      </div>
      <div class="charts-container">
        <% if(currentPrivileges.includes(privileges.teams.canModifyTeams)) { %>
        <a class="button button--sm button--edit" href="<%= routes.teams %>/<%= userTeams[i].id %>/modificar">Modificar</a>
        <% } %>
        <% if(currentPrivileges.includes(privileges.teams.canDeleteTeams)) { %>
        <form method="POST" action="/equipos/eliminar" id="formE">
          <input type="hidden" name="id_team" value="<%=userTeams[i].id %>">
          <button class="button button--sm button--delete-alt" type="submit">Eliminar</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
    <% } %>
</section>
<!-- <span class="line"></span> -->

<section>
  <!-- ALL TEAMS -->
  <div class="banner">
    <h2 class="subtitle">
      Todos los equipos
      <span class="meta"> (<%=availableTeams.length %>) </span>
    </h2>

  </div>
  <!-- TEAMS LIST -->
  <% if(availableTeams && availableTeams.length> 0) { %>
  <div class="cards-container">
    <% for(let i=0; i < availableTeams.length; i++) { %>
    <div class="card card--team <%= availableTeams[i].members.length >= 10 ? `card--tall` : `card--short`%>">
      <div class="card__header">

        <h3 class="card__title">
          <%= availableTeams[i].name %>
        </h3>
      </div>

      <p class="card__subtitle">
        Miembros <span class="meta"> (<%=availableTeams[i].members.length %>) </span>
      </p>
      <div class="users__list">
        <% for(let j=0; j < availableTeams[i].members.length; j++) { %>
        <div class="user__item">
          <span class="user__avatar">
            <%= availableTeams[i].members[j].first_name[0] %>
          </span>
          <span class="user__name">
            <%= availableTeams[i].members[j].first_name%>
            <%= availableTeams[i].members[j].last_name%>
          </span>
        </div>
        <% } %>

      </div>
      <div class="card__footer">

        <% if(currentPrivileges.includes(privileges.teams.canJoinTeams)) { %>
        <form action="/equipos/nuevo/usuario" method="POST">
          <input type="hidden" name="id_team" value="<%=availableTeams[i].id %>">
          <input type="hidden" name="uid" value="<%=locals.currentUser.uid %>">

          <button class="button button--primary add-team-user-btn" data-uid=<%=locals.currentUser.uid %> data-id_team=<%=availableTeams[i].id %>>
            Unirme
          </button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
    <% } %>
</section>

<script src="/assets/js/team.js"></script>