<!-- MAIN -->
<section class="dashboard">

  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Equipos <span class="meta"> (<%=userTeams.length + availableTeams.length %>)</span></h1>
      <p class="description">
        Visualiza tu equipo o selecciona uno al cual unirte
      </p>
    </div>

    <div class="banner__section">
      <a class="button button--primary" class="dropdown-item" id="modal-button">
        Crear Equipo
      </a>
      <div id="modal-container" class="cards-container"></div>
    </div>

    <span class="line"></span>
  </div>


  <!-- USER TEAMS -->
  <h2 class="subtitle">Mis Equipos <span class="meta">
      (<%=userTeams.length %>)
    </span>
  </h2>
  <% if(userTeams && userTeams.length> 0) { %>
  <div class="cards-container">
    <% for(let i=0; i < userTeams.length; i++) { %>
    <div class="card card--team">
      <div class="card__header">

        <h3 class="card__title">
          <%= userTeams[i].name %>
        </h3>

        <form action="/equipos/eliminar/usuario?_method=PATCH" method="POST">
          <input type="hidden" name="id_team" value="<%=userTeams[i].id %>">
          <input type="hidden" name="uid" value="<%=locals.currentUser.uid %>">

          <button type="submit" class="button button--sm button--delete-alt remove-team-user-btn" data-uid=<%=locals.currentUser.uid %> data-id_team=<%=userTeams[i].id %>>Abandonar</button>
        </form>

        <div class="button--sm">
          <div class="dropdown">
            <button>...</button>
            <div class="dropdown-menu">
              <a class="description" href="<%= routes.teams %>/<%= userTeams[i].id %>/modificar">Modificar</a>
              <form method="POST" action="/equipos/eliminar" id="formE">
                <input type="hidden" name="id_team" value="<%=userTeams[i].id %>">
              <button class="description" type="submit">Eliminar</button>
              </form>
            </div>
          </div>
        </div>
        <div id="modify-container" class="cards-container"></div>

      </div>
      <p class="card__subtitle">
        Miembros <span class="meta"> (<%=userTeams[i].members.length %>) </span>
      </p>
      <div class="users__list">
        <% for(let j=0; j < userTeams[i].members.length; j++) { %>
        <div class="user__item">
          <span class="user__avatar">
            <%= userTeams[i].members[j].first_name[0] %>
          </span>
          <span class="user__name">
            <%= userTeams[i].members[j].first_name%>
            <%= userTeams[i].members[j].last_name%>
          </span>
        </div>
        <% } %>
      </div>

    </div>
    <% } %>
    <% } %>
</section>
<!-- <span class="line"></span> -->

<section>
  <!-- ALL TEAMS -->
  <div class="banner">
    <h2 class="subtitle">
      Todos los equipos
      <span class="meta"> (<%=availableTeams.length %>) </span>
    </h2>

  </div>
  <!-- TEAMS LIST -->
  <% if(availableTeams && availableTeams.length> 0) { %>
  <div class="cards-container">
    <% for(let i=0; i < availableTeams.length; i++) { %>
    <div class="card card--team">
      <div class="card__header">

        <h3 class="card__title">
          <%= availableTeams[i].name %>
        </h3>
      </div>

      <p class="card__subtitle">
        Miembros <span class="meta"> (<%=availableTeams[i].members.length %>) </span>
      </p>
      <div class="users__list">
        <% for(let j=0; j < availableTeams[i].members.length; j++) { %>
        <div class="user__item">
          <span class="user__avatar">
            <%= availableTeams[i].members[j].first_name[0] %>
          </span>
          <span class="user__name">
            <%= availableTeams[i].members[j].first_name%>
            <%= availableTeams[i].members[j].last_name%>
          </span>
        </div>
        <% } %>

      </div>
      <div class="card__footer">

        <% if(currentPrivileges.includes(privileges.teams.canJoinTeams)) { %>
        <form action="/equipos/nuevo/usuario" method="POST">
          <input type="hidden" name="id_team" value="<%=availableTeams[i].id %>">
          <input type="hidden" name="uid" value="<%=locals.currentUser.uid %>">

          <button class="button button--primary add-team-user-btn" data-uid=<%=locals.currentUser.uid %> data-id_team=<%=availableTeams[i].id %>>
            Unirme
          </button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
    <% } %>
</section>

<script>
  //NUEVO EQUIPO
  let modalButton = document.getElementById("modal-button");
  let modalContainer = document.getElementById("modal-container");
  
  modalButton.addEventListener("click", function() {
    modalContainer.style.display = "block";
  });
  
  modalContainer.addEventListener("click", function(event) {
    if (event.target === modalContainer) {
      modalContainer.style.display = "none";
    }
  });
  
  let modalContent = document.createElement("div");
  modalContent.setAttribute("id", "modal-content");
  modalContent.innerHTML = `
    <h2 class="title">Crea un equipo nuevo</h2>
    <span class="line"></span>
    
    <form method="POST" action="/equipos/nuevo" id="form">
    <div class="form-group">
      <label for="name" class="description">Nombre del equipo:</label>
      <input type="text" class="input" id="recipient-name" name="name">
    </div>

    <br>
    
    <div class="buttons-container">
    <button class="button button--primary" type="submit">Guardar</button>
    <a class="button button--discard" id="modal-close">Descartar</a>
    </div>
    </form>
    `;
  modalContainer.appendChild(modalContent);
  
  // Agrega un evento de clic al botón de cerrar para ocultar el modal
  let modalClose = document.getElementById("modal-close");
  modalClose.addEventListener("click", function() {
    modalContainer.style.display = "none";
  });

  </script>
  