<section class="dashboard">
    <div class="banner">
        <div class="banner__section">
          <h1 class="title">Modificar equipo - <%= team.name %>  </h1>
        </div>
        
        <span class="line"></span>
      </div>

    <h2 class="subtitle">Miembros del equipo: </h2> 

    <div class="cards-container">
    <% for(let i = 0; i < members.length; i++) { %>
      <div class="card card--team">
      <div class="card__header">
        <span class="user__avatar">
        <%= members[i].first_name[0] %>
        </span>
        <span class="user__name">
        <%= members[i].first_name%>
        <%= members[i].last_name%>
        </span>
        <form method="POST" action="/equipos/modificar/eliminar" id="form">
          <input type="hidden" name="id_team" value="<%= team.id %>">
          <input type="hidden" name="uid" value="<%= members[i].uid %>">
          <button type="submit" class="button button--sm button--delete-alt">Eliminar</button>
        </form>
      </div>
      </div>
    <% } %>
    </div>
    <span class="line"></span>    

    <h2 class="subtitle">Personas: </h2> 
    <div class="cards-container">
      <% for(let i = 0; i < usersNotInTeam.length; i++) { %>
        <div class="card card--team">
        <div class="card__header">
          <span class="user__avatar">
          <%= usersNotInTeam[i].first_name[0] %>
          </span>
          <span class="user__name">
          <%= usersNotInTeam[i].first_name%>
          <%= usersNotInTeam[i].last_name%>
          </span>
          <form method="POST" action="/equipos/modificar/anadir" id="form">
            <input type="hidden" name="id_team" value="<%= team.id %>">
            <input type="hidden" name="uid" value="<%= usersNotInTeam[i].uid %>">
            <button type="submit" class="button button--sm button--edit">Añadir</button>
          </form>
        </div>
        </div>
      <% } %>
      </div>


</section>