<!-- HEAD -->
<%- include('../partials/head.ejs') %>

  <body>
    <% if (locals.user) { %>
      <!-- NAV -->
      <%- include('../partials/nav.ejs') %>
      <!-- SIDEBAR -->
      <%- include('../partials/sidebar.ejs') %>
      <div class="wrapper">
        <main class="content">
          <!-- BODY -->
          <%- body %>
        </main>
    <% } else { %>
      <!-- BODY -->
      <div class="login">
        <%- body %> 
      </div>
    <% } %>

    <%- include('../partials/footer.ejs') %>
    </div>
  </body>

  </html>