<!-- HEAD -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- NAV -->
    <%- include('../partials/nav.ejs') %>
    <!-- SIDEBAR -->
    <%- include('../partials/sidebar.ejs') %>
    <div class="wrapper">
      <main class="content">
        <!-- BODY -->
        <%- body %>
      </main>
        <!-- FOOTER -->
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>

  </html>