<!-- HEAD -->
<%- include('../partials/head.ejs') %>

  <body>
    <!-- SIDEBAR -->
    <%- include('../partials/sidebar.ejs') %>
    <!-- NAV -->
    <%- include('../partials/nav.ejs') %>
    <!-- BODY -->
    <%- body %>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
  </body>

  </html>