<section class="dashboard">
  <div class="banner">
    <div class="banner__section">
      <h1 class="title">Iniciar Retrospectiva</h1>
      <p class="description">Registrar una nueva sesión de retrospectiva</p>

      <% if(!locals.selectedTeam){%>
      <p class="description">
        Únete o selecciona un equipo para poder iniciar una retrospectiva
      </p>
      <%} %> <% if(locals.selectedTeam){%> <% if(sprint){%>
      <p class="description">
        Equipo: <span class="meta"> <%= locals.selectedTeam.name %> </span>
      </p>
      <p class="description">
        Sprint: <span class="meta"> <%= sprint.name %> </span>
      </p>
      <%} %>
    </div>

    <div class="banner__section">
      <a class="button button--edit" href="<%=routes.questions %>"
        >Crear pregunta</a
      >
    </div>
    <span class="line"></span>
  </div>

  <% if(retrospective){%>
  <p class="description">
    Ya existe una retrospectiva para el último sprint del equipo <%=
    locals.selectedTeam.name %>. Por favor contéstala y ciérrala.
  </p>
  <%} %> <% if(!sprint && !retrospective){%>
  <p class="description">
    No hay sprints disponibles para el equipo <%= locals.selectedTeam.name %>.
    Por favor selecciona otro equipo
  </p>

  <%} %> <% if(sprint){%>
  <form method="POST" action="/retrospectivas/iniciar" id="form">
    <input
      type="number"
      value="<%= sprint.id %>"
      hidden
      name="id_sprint"
    />
    <h2 class="subtitle">Nombre de la retrospectiva</h2>
    <div class="input-container">
      <label class="input__label" for="name">Nombre</label>
      <input
        class="input"
        type="text"
        name="name"
        maxlength="40"
        placeholder="Nombre de la Retrospectiva"
        required
        value="<%= sprint.name %>: <%= locals.selectedTeam.name %>"
      />
    </div>

    <h2 class="subtitle mt-3" id="questions-quantity">
      Preguntas <span class="meta">(<%= questions.length %>)</span>
    </h2>
    <p class="description mb-2">
      Selecciona las preguntas que desees incluir o crea preguntas nuevas.
    </p>

    <div class="filters-container mb-2">
      <div class="input search-bar">
        <span class="icon search-bar__icon"></span>
        <input type="text" placeholder="Buscar por título" id="buscar" />
      </div>
    </div>

    <div class="questions__list">
      <% if(questions.length> 0) { for(let i=0; i < questions.length; i++) { %>
      <div
        class="card card--question-checkbox"
        data-id="<%= questions[i].id %>"
      >
        <div class="horizontal-container">
          <input
            type="checkbox"
            class="question-checkbox mr-1"
            value="<%= questions[i].id %>"
          />
          <input
            type="text"
            readonly
            class="subtitle question"
            value="<%=questions[i].description %>"
          />
        </div>
        <div class="horizontal-container">
          <div class="horizontal-container ">
            <input
              type="checkbox"
              class="mr-1 question-required-checkbox"
              checked
              value="<%= questions[i].id %>"
            />
            <label class="description mr-2">Obligatorio</label>
          </div>

          <span class="label label--inactive"> <%= questions[i].type %> </span>
        </div>
      </div>
      <% } } else { %>
      <p class="no-results">
        Por el momento no hay preguntas registradas. Empieza a crear las tuyas!
      </p>
      <% } %>
    </div>
    <p class="no-results search hide"></p>

    <div class="questions__resume mt-5 mb-5" id="selected-questions">
      <span class="line"></span>
      <h3 class="subtitle">Resumen de preguntas</h3>
      <div class="questions__resume-list"></div>
    </div>

    <div class="banner mt-4">
      <div class="buttons-container">
        <button class="button button--primary" type="submit">Guardar</button>
        <a class="button button--discard" href="<%=routes.retrospectives %>"
          >Descartar</a
        >
      </div>
      <a class="button button--edit" href="<%=routes.questions %>"
        >Crear pregunta</a
      >
    </div>
  </form>
  <%} %> <%} %>
</section>

<script src="/assets/js/initRetrospective.js"></script>
