<section class="dashboard">
  <div class="banner">
    <div class="banner__section mb-2">
      <h1 class="title">Iniciar Retrospectiva</h1>
      <% if(locals.selectedTeam){%>
      <% if(sprint){%>
      <p class="description">Registrar una nueva sesión de retrospectiva para el equipo
        <span class="description description--blue">
          <%= locals.selectedTeam.name %>
        </span>
      </p>
      <p class="description">Sprint actual:
        <span class="description description--blue">
          <%= sprint.name %>
        </span>
      </p>

    </div>

    <div class="banner__section">
      <a class="button button--edit" href="<%=routes.questions + "/nueva" %>">Crear pregunta</a>
    </div>
    <span class="line"></span>
  </div>
  <form method="POST" action="/retrospectivas/iniciar" id="form">
    <input type="number" value="<%= sprint.id %>" hidden name="id_sprint" />
    <h2 class="subtitle subtitle--blue">Nombre de la retrospectiva</h2>
    <div class="input-container">
      <input class="input" type="text" name="name" maxlength="255" placeholder="Nombre de la Retrospectiva" required value="<%= sprint.name %>: <%= locals.selectedTeam.name %>" />
    </div>

    <h2 class="subtitle subtitle--blue mt-3" id="questions-quantity">
      Preguntas
    </h2>
    <p class="description mb-2">
      Selecciona las preguntas que desees incluir o crea preguntas nuevas.
    </p>

    <div class="filters-container mb-2">
      <div class="input search-bar">
        <span class="icon search-bar__icon"></span>
        <input type="text" placeholder="Buscar por título" id="buscar" />
      </div>
    </div>

    <div class="questions__list">
      <% if(questions.length> 0) { for(let i=0; i < questions.length; i++) { %>
      <div class="card card--question-checkbox" data-id="<%= questions[i].id %>">
        <div class="horizontal-container">
          <input type="checkbox" class="question-checkbox" value="<%= questions[i].id %>" />
          <input type="text" readonly class="question" value="<%=questions[i].description %>" />
        </div>
        <div class="horizontal-container">
          <div class="horizontal-container">
            <input type="checkbox" class="question-required-checkbox" checked value="<%= questions[i].id %>" />
            <label class="description mr-2">Obligatorio</label>
          </div>

          <span class="label label--inactive">
            <%= questions[i].type %>
          </span>
        </div>
      </div>
      <% } } else { %>
      <p class="no-results">
        Por el momento no hay preguntas registradas. Empieza a crear las tuyas!
      </p>
      <% } %>
    </div>
    <p class="no-results search hide"></p>

    <div class="questions__resume mt-5 mb-5" id="selected-questions">
      <span class="line"></span>
      <h3 class="subtitle">Resumen de preguntas</h3>
      <div class="questions__resume-list"></div>
    </div>

    <div class="banner mt-4">
      <div class="buttons-container">
        <button class="button button--primary" type="submit">Guardar</button>
        <a class="button button--discard" href="<%=routes.retrospectives %>">Descartar</a>
      </div>
      <a class="button button--edit" href="<%=routes.questions + "/nueva" %>">Crear pregunta</a>
    </div>
    </div>
  </form>
  <%} %>
  <%} %>
</section>
<script src="/assets/js/initRetrospective.js"></script>